.about-me {
	height: auto;
	margin-bottom: 100%;
}

/* Social Container */
.about-me .social-container {
	background-color: rgb(223, 223, 230);
	padding: 20px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.about-me .social-container:hover {
	border-bottom: 2px solid #c6c8c9;
}
