/* Add patient style */

.add-patient {
	position: relative;
	height: 100vh;
}
.add-patient input::placeholder,
.add-patient select {
	font-size: 14px;
}

.add-patient label {
	color: #514d4d;
}

/* patient list style */
.patietn-list {
	position: relative;
	height: 100vh;
}

/* view patient */
.view-patient {
	position: relative;
	height: auto;
}
.view-patient .card {
	border: 0px;
	height: 100%;
}
.view-patient .card img {
	width: 150px;
	height: 150px;
	margin: auto;
}
.view-patient .card img:hover {
	cursor: pointer;
}

.view-patient div.tbl-right-view {
	background-color: #fff;
}
