.product-list {
	height: 100%;
	position: relative;
}

/* View product style */
.view-product {
	position: relative;
}

.view-product .view-pro-img {
	height: 60vh;
	background-color: #fff;
	padding: 20px 0px;
}
.view-product .view-pro-right {
	height: 60vh;
	background-color: #fff;
	padding: 5px 50px;
	border-left: 5px solid #ebebeb;
}
.view-product .product-rating {
	position: relative;
}
.view-product .product-rating span:last-child {
	margin-left: 5px;
}
.view-product .product-rating span i.fa {
	color: #ffa500;
	margin-right: 2px;
	font-weight: bold;
}
